@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');

body {
  background-color: white;
}

.custom-container {
  border: 1pt solid black;
  border-radius: 30px;
  padding: 20px;
  width: 300px;
  margin-top: 20px;
}

.row-logo{
  margin-top: 0px;
}

.image-example {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; 
}

.circle-avatar{
  margin-top: 20px;
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: flex;
  justify-items: center;
  align-items: center;
}

.user-image {
  vertical-align: middle;
  text-align: center;
}

.logo-title {
  color: rgb(0, 0, 34);
  font-size: 42px;
  font-family: 'Jolly Lodger', cursive;
  font-weight: 800;
}
.row-input {
  margin-top: 50px;
}

.input-group {
  width: 350px;
}

.form-control{
  background-color: #bbb;
}

.row-button {
  margin-top: 30px;
}

.signin{
  margin-top: 10px;
}

.signin-style {
  text-decoration: none;
  color: black;
}

.signin-style:hover{
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: black;
}